body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin: 0;
}
.links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}
.links ul li {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.links ul li:hover {
    background-color: #0056b3;
}
.container-tarjetas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.tarjeta {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 30%;
    text-align: center;
}



